.logo {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.logo-side {
  font-family: 'Courier New', Courier, monospace;
}

header {
  background-color: rgb(230, 78, 78);
}

.search {
  background-color: rgba(250, 250, 250, 0.7);
  border: none;
  border-radius: 10px;
}

.btn-submit {
  width: 100%;
}

.btn-how {
  width: 30%;
}

.header {
  background-image: url(../img/backimage1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.elmt-1 {
  background-color: rgb(230, 78, 78);
}

.elmt-2 {
  background-color: rgb(168, 145, 145);
}

.elmt-3 {
  background-color: rgb(136, 151, 214);
}

.elmt-1 img,
.elmt-2 img,
.elmt-3 img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
